{% extends "layout.html" %}

{% block title %}
    Brackets
{% endblock %}

{% block main %}
 
    {% for match in matches %}
    <h2>{{match['div_id']}}</h2>
    <div class="card" style="width: 18rem;" name="matchcard">
        <div class="card-body">
          <h5 class="card-title">Match</h5>
          <h6>{{match['competitor1_name']}}</h6>
          <h6>VS</h6>
          <h6>{{match['competitor2_name']}}</h6>
          <p class="card-text"></p>
          <a href="/match/{{match['id']}}" class="card-link">Start Match</a>
        </div>
      </div>
      {% endfor %}
  
{% endblock %}



# start  competition
@app.route("/start/<competition>", methods=["GET", "POST"])
@login_required
def start(competition):
    #generate participants list

    #get id and name of competition
    rows = db.execute("SELECT DISTINCT id, name FROM competitions WHERE name LIKE ?", competition)
    comp_id = rows[0]["id"]
    
    divisions = {}
    divnames = []
    divids = []
    # get division name and id
    rows = db.execute("SELECT DISTINCT id, name FROM divisions INNER JOIN competitors on competitors.division_id = divisions.id WHERE competition_id = ?", comp_id)
    for i in range(len(rows)):
        divname = rows[i]["name"]
        divnames.append(divname)
        divid = rows[i]["id"] 
        divids.append(divid)

    # get competitors names for each division
    for i in range(len(divids)):
        competitors = []
        divid = divids[i] 
        divname = divnames[i]
        rows = db.execute("SELECT DISTINCT firstname, lastname FROM users INNER JOIN competitors on competitors.competitor_id = users.id WHERE division_id = ?", divid)
        for j in range(len(rows)):
            competitor = (rows[j]["firstname"] + " " + rows[j]["lastname"])
            competitors.append(competitor)
        # add values to divisions dict        
        divisions[divname] = competitors


    # master loop for each division
    for i in range(len(divisions)):
        participants = []
        # get number of participants for each division
        divname = divnames[i]
        participants = divisions[divname]
        totalmatches = len(participants)
        # find nearest power of 2 to determine byes
        powerof2 = nextpowerof2(totalmatches)
        byes = powerof2 - totalmatches
        matchesrd = int((totalmatches - byes) / 2)
        # schedule matches first round
        for i in range(matchesrd):
            competitor1 = random.choice(participants)
            participants.remove(competitor1)
            competitor2 = random.choice(participants)
            participants.remove(competitor2)
           # get competitor ids for matches table
            lastname1 = competitor1.split()
            lastname1 = lastname1[1]
            lastname2 = competitor2.split()
            lastname2 = lastname2[1]
            rows = db.execute("SELECT DISTINCT id FROM users WHERE lastname = ? OR lastname = ?", lastname1, lastname2)
            id1 = rows[0]["id"]
            id2 = rows[1]["id"]
            # get div_id
            rows = db.execute("SELECT DISTINCT id FROM divisions WHERE name = ? AND comp_id = ?", divname, comp_id)
            div_id = rows[0]["id"]
            # insert match into matches table
            db.execute("INSERT INTO matches (comp_id, div_id, competitor1_name, competitor2_name, competitor1_id, competitor2_id) VALUES (?,?,?,?,?,?)", comp_id, div_id, competitor1, competitor2, id1, id2) 
            
    matches = db.execute("SELECT DISTINCT id, div_id, competitor1_name, competitor2_name FROM matches WHERE comp_id = ?", comp_id)
    return render_template("brackets.html", matches=matches)