{% extends "layout.html" %}

{% block main %}

<h2>{{ name }}</h2>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/competition/{{ name }}">Info</a>
        <a class="nav-link" href="/registrations/{{ name }}">Registrations</a>
        <a class="nav-link active" href="/brackets/{{ name }}">Brackets / Results</a>
      </div>
    </div>
  </div>
</nav>

<h2>Upcoming Matches</h2>

<table class="table table-dark table-striped">
  <thead>
      <tr>
          <th>Division</th>
          <th>Competitor One</th>
          <th>Competitor Two</th>
      </tr>
  </thead> 
  <tbody>
    {% for match in matches %}
      <tr>
          <td>{{ match['div_name'] }}</td>
          <td>{{ match['competitor1_name'] }}</td>
          <td>{{ match['competitor2_name'] }}</td>
      </tr>  
      {% endfor %}  
  </tbody>
</table> 
{% endblock %}

<h2>Match Results</h2>

<table class="table table-dark table-striped">
  <thead>
      <tr>
          <th>Division</th>
          <th>Match Id</th>
          <th>Winner</th>
          <th>Method</th>
      </tr>
  </thead> 
  <tbody>
    {% for result in results %}
      <tr>
          <td>{{ result['div_name'] }}</td>
          <td>{{ result['id'] }}</td>
          <td>{{ result['winner'] }}</td>
          <td>{{ result['method']| capitalize  }}</td>
          <td>
        </td>
      </tr>
      {% endfor %}    
  </tbody>
</table> 

<h2>Division Results</h2>

<table class="table table-dark table-striped">
  <thead>
      <tr>
          <th>Division</th>
          <th>Gold Medal</th>
          <th>Silver Medal</th>
      </tr>
  </thead>
  <tbody>
      {% for medallist in medallists %}
      <tr>
          <td>{{ medallist['div_name'] }}</td>
          <td>{{ medallist['gold'] }}</td>
          <td>{{ medallist['silver'] }}</td>
          <td>
        </td>
      </tr>
      {% endfor %}    
  </tbody>
      </tr>
  </tbody>
</table>
