{% extends "layout.html" %}

{% block title %}
    Competitions
{% endblock %}

{% block main %}

<div class="container-fullscreen rows">

{% for competition in competitions %}

<div class="event-card-container">
  <div class="card text-center text-white border-light bg-dark" style="width:18rem" name="competitioncard">
    <img class="darkened-image card-image" src="/static/images/two-judokas-fighters-posing.jpg">
    <div class="card-img-overlay card-image">
      <h5 class="card-title"><img src="/static/images/trophy-icon.png" width="30" height="30" alt="trophy"><strong> {{competition['name'] | upper }}</strong></h5>
      <div class="card-body">
        <h6 class="card-subtitle"><strong>{{ competition['format']}}</strong></h6>
        <a class="nav-link" href="/competition/{{competition['name']}}"><button class="btn btn-secondary btn-block">View Competition Page</button></a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

</div>

{% endblock %}