{% extends "layout.html" %}

{% block title %}
    Competitions
{% endblock %}

{% block main %}
{%for competition in competitions %}
<div class="card" style="width: 18rem;" name="competitioncard">
  <div class="card-body">
    <h5 class="card-title">{{competition['name']}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ competition['format']}}</h6>
    <p class="card-text"></p>
    <a href="/competition/{{competition['name']}}" class="card-link">View Competition Page</a>
</div>
{% endfor %}
{% endblock %}