{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div id="background-carousel" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="container-image darkened-image">
                <img src="/static/images/background1.jpg" class="d-block w-100" alt="background1"> 
            </div>
            <div class="carousel-content">
                <div class="text-container">
                    <h1>
                        <strong>Plan, organize and run a jiu-jitsu tournament the easy way!</strong>
                    </h1>
                </div>
            </div>    
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="container-image darkened-image">
                <img src="/static/images/background2.jpg" class="d-block w-100" alt="background2">
            </div>
            <div class="carousel-content">
                <div class="text-container">
                    <h1>
                        <strong>Packed full of features for both organizers and competitiors!</strong>
                    </h1>
                </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}