{% extends "layout.html" %}

{% block title %}
    Log In 
{% endblock %}

{% block main %}

    <div class="container-login" id="login">
        <div class="row">
            <div class="col-5">
                <div class="panel-body card">
                    <img src="/static/images/armbarblack.png" alt="armbar">
                    <div class="row">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control mx-auto" id="username" name="username" placeholder="Username" type="text">   
                            </div> 
                            <div class="form-group">
                                <input class="form-control mx-auto" id="password" name="password" placeholder="Password" type="password">            
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary btn-block" type="submit">Log in</button>
                            </div>  
                        </form>       
                    </div>
                </div> 
            </div>
            <div class="col-5">
                <div class="text-container">
                    <div class="row">
                        <h1><strong>Don't tap out to the stress of organization, use EasyComp!</strong></h1>
                    </div>
                </div>
            </div>     
        </div>
    </div>
   

    {% endblock %}