{% extends "layout.html" %}

{% block title %}
    Manage Competitions
{% endblock %}

{% block main %}
<h2>Your Competitions</h2>
{% for dict_item in competitions %}
    <h3>Name: {{ dict_item['name'] }}</h3>
    <h3>Format: {{ dict_item['format'] }} </h3>
{% endfor %}
{% for division in divisions %}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>{{ division }}</th>
        </tr>
    </thead> 
    <tbody>
        {% set list1 = divisions[division] %}
        {% for elem in list1 %}
        <tr>
            <td>{{ elem }}</td>
        </tr>
        {% endfor %}    
    </tbody>
</table>
{% endfor %}
{% endblock %}