<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Match</title>
    </head>
    <body>
        <div class="container">
            <h1 id="clock">10:00</h1>
            <button onclick="startClock()" class="btn-start">Start</button>
            <button onclick="pauseClock()" class="btn-pause">Pause</button>
        </div>

        <div id="parent" class="container">
            <div class="container">
                <h1>Competitor One</h1>
                <span id="scoreboard1">0</span>
                <h4>Advantages</h4>
                <span id="advantages1">0</span>
                <h4>Penalties</h4>
                <span id="penalties1">0</span>
                <div class="btn-container">
                    <button id="addbtn" class="btn1 +4pts">+4pts</button>
                    <button id="addbtn" class="btn1 +3pts">+3pts</button>
                    <button id="addbtn" class="btn1 +2pts">+2pts</button>
                    <button id="addbtn" class="btn1 +advantage">+adv</button>
                    <button id="addbtn" class="btn1 +penalty">+pen</button>
                </div>
                <div class="row">
                    <div class="btn-container">
                    <button id="subbtn" class="btn1 -4pts">-4pts</button>
                    <button id="subbtn" class="btn1 -3pts">-3pts</button>
                    <button id="subbtn" class="btn1 -2pts">-2pts</button>
                    <button id="subbtn" class="btn1 -advantage">-adv</button>
                    <button id="subbtn" class="btn1 -penalty">-pen</button>
                    </div>
                </div>
            </div>
                <div class="container">
                    <h1>Competitor Two</h1>
                    <span id="scoreboard2">0</span>
                    <h4>Advantages</h4>
                    <span id="advantages2">0</span>
                    <h4>Penalties</h4>
                    <span id="penalties2">0</span>
                    <div class="btn-container">
                        <button id="addbtn" class="btn2 +4pts">+4pts</button>
                        <button id="addbtn" class="btn2 +3pts">+3pts</button>
                        <button id="addbtn" class="btn2 +2pts">+2pts</button>
                        <button id="addbtn" class="btn2 +advantage">+adv</button>
                        <button id="addbtn" class="btn2 +penalty">+pen</button>
                    </div>
                    <div class="row">
                        <div class="btn-container">
                        <button id="subbtn" class="btn2 -4pts">-4pts</button>
                        <button id="subbtn" class="btn2 -3pts">-3pts</button>
                        <button id="subbtn" class="btn2 -2pts">-2pts</button>
                        <button id="subbtn" class="btn2 -advantage">-adv</button>
                        <button id="subbtn" class="btn2 -penalty">-pen</button>
                        </div>
                    </div>
                </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>