{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="firstname">First Name</label>
            <input autocomplete="off" id="firstname" placeholder="First name" type="text">
        </div>
        <div class="mb-3">
            <label for="lastname">Last Name</label>
            <input autocomplete="off" id="lastname" placeholder="Last name" type="text">
        </div>
        <div class="mb-3">
            <label for="dob">Date of birth</label>
            <input autocomplete="off" id="dob" placeholder="Date of birth" type="date">
        <div class="mb-3">
            <label for="organizer">Organizer</label>
            <input type="checkbox" id="organizer" name="organizer">
        </div>
        <div class="mb-3">
            <label for="competitor">Competitor</label>
            <input type="checkbox" id="competitor" name="competitor">
        </div>
        <div class="mb-3">
            <label for="username">Create Username</label>
            <input autocomplete="off" id="username" placeholder="Username" type="text">      
        </div>
        <div class="mb-3">
            <label for="password">Create Password</label>
            <input autocomplete="off" id="password" placeholder="Password" type="text">
            <input autocomplete="off" id="confirmation" placeholder="Repeat Password" type="text">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}