{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="firstname">First Name</label>
            <input autocomplete="off" id="firstname" name="firstname" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <label for="lastname">Last Name</label>
            <input autocomplete="off" id="lastname" name="lastname" placeholder="Last Name" type="text">
        </div>
        <div class="mb-3">
            <label for="username">Create Username</label>
            <input autocomplete="off" id="username" name="username" placeholder="Username" type="text">      
        </div>
        <div class="mb-3">
            <label for="password">Create Password</label>
            <input autocomplete="off" id="password" name="password" placeholder="Password" type="text">
            <input autocomplete="off" id="confirmation" name="confirmation" placeholder="Repeat Password" type="text">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}




