{% extends "layout.html" %}

{% block title %}
    View Registrations
{% endblock %}

{% block main %}
<h1>{{ compname | capitalize }}</h1>
{% for division in divisions %}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>{{ division }}</th>
        </tr>
    </thead>
   
    <tbody>
        {% set list1 = divisions[division] %}
        {% for elem in list1 %}
    
        <tr>
            <td>{{ elem }}</td>
        </tr>
        {% endfor %}
      
    </tbody>

</table>
{% endfor %}
{% endblock %}